---
- name: Burp Suite | Install | Set Installer Filename
  ansible.builtin.set_fact:
    burpsuite_installer_script: "burpsuite_{{ burpsuite_edition }}_linux_v{{ _burpsuite_installer_version | regex_replace('\\.', '_') }}.sh"

- name: Burp Suite | Install | Download Installer
  ansible.builtin.get_url:
    url: "https://portswigger.net/burp/releases/download?product={{ burpsuite_edition }}&type=linux&version={{ _burpsuite_installer_version }}"
    dest: "/tmp/{{ burpsuite_installer_script }}"
    checksum: "sha256:{{ burpsuite_installer_sha256_checksum }}"
    owner: "{{ burpsuite_user }}"
    group: "{{ burpsuite_user_details.group }}"
    mode: '0640'

- name: Burp Suite | Install | Create response.varfile For Unattended Install
  ansible.builtin.template:
    src: burpsuite_response.varfile.j2
    dest: /tmp/burpsuite_response.varfile
    owner: "{{ burpsuite_user }}"
    group: "{{ burpsuite_user_details.group }}"
    mode: '0640'

- name: Burp Suite | Install | Run Installer
  ansible.builtin.command:
    cmd: "/bin/sh {{ burpsuite_installer_script }} -q -varfile burpsuite_response.varfile -overwrite"
    chdir: /tmp
  changed_when: true
  become: true
  become_user: "{{ burpsuite_user }}"

- name: Burp Suite | Install | Clean Up
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop: "{{ burpsuite_cleanup_files }}"
