---
- name: Kali Bootstrap Playbook
  hosts: '{{target|default("kali")}}'  # Assumes invetory provides a 'kali' group but can also use ``-e 'target=host1,host2'``
  pre_tasks:
    - name: Kali | Sanity Checks
      when: ansible_facts['distribution'] != "Kali"
      block:
        - name: Kali | Sanity Checks | Failed
          ansible.builtin.debug:
            msg: "This is a {{ ansible_facts['distribution'] }} host. This is a playbook for Kali hosts. Why are you doing this?"

        - name: Kali | Sanity Check | Failed
          ansible.builtin.meta: end_host

  roles:
    # Run Kali role for initial setup
    - kali
    # Run bulk package installation roles
    - apt
    - pip2
    - pip3
    - pipx
    - ruby
    - git
    # Run app-specific configuration roles
    - ssh
    - burpsuite
    - pspy
    - ysoserial
    - zsh
    - firefox
    - metasploit
    - gdb
    - tmux
    - vim
    - wget
    - vscode
    - xfce

  post_tasks:
    - name: Kali | Post-Installation Cleanup
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ kali_user_details.home }}/.zsh_history"
        - "{{ kali_user_details.home }}/.zshrc"
        - "{{ kali_user_details.home }}/.zshrc.pre-oh-my-zsh"
